<h1><%= @camper.name %></h1>
<h3>Age: <%= @camper.age %></h3>
<h3>Activities: </h3>
<ul>
    <%# @camper.activities.each do |activitity|  %>
        <li><%# activity.name  %></li>
    <%# end %>
</ul>